@model Medio

<div class="container">
    <p>
        <a asp-controller="Home" asp-action="Index">
            Volver
        </a>
    </p>
    <div class="d-flex gap-5 p-4">
        <div class="img-container">
            <img src="~/images/medios/@Model.Imagen" class="img img-thumbnail" alt="img_@Model.Imagen" style="width:38rem;"/>
        </div>
        <div class="info-medio-container">
            <h2 class="text-primary">@Model.Titulo</h2>
            <p>
                @Model.Sinopsis
            </p>
            <p>
                Director: @Model.Director
            </p>
            <p>
                Públicos: @Model.ClasificacionEdad
            </p>
            <p>
                Puntuación: @Model.PuntuacionMedia / 10
            </p>
            <p>
                Estreno: @Model.AnioEstreno
            </p>
        </div>
    </div>
</div>