@model ViewPeliculaCompleta

@{
    Usuario user = Context.Session.GetObject<Usuario>("usuario");
}

<div class="container">
    <div class="details-pelicula">
        <div class="info-pelicula">
            <section class="pelicula-genero">
                <h3 class="genero">GÉNERO</h3>
                <p>@Model.Genero</p>
            </section>
            <section class="director-pelicula">
                <h3 class="director">DIRECTOR</h3>
                <p>@Model.Director</p>
            </section>
            <section class="stats">
                <h3><i id="stat-icon" class="fa-solid fa-chart-line"></i> STATS</h3>
                <p>IMDB: @Model.IMDB/10</p>
                <p>Popularidad: @Model.Popularidad/100</p>
            </section>
        </div>
        <div class="sinopsis-pelicula">
            <section class="titulo-pelicula">
                <h2 class="titulo">@Model.Titulo</h2>
                <h3 class="duracion-anio">@Model.Duracion mins ● @Model.AnioEstreno</h3>
                <p class="sinopsis">@Model.Sinopsis</p>
            </section>
            <section class="trailer-pelicula">
                <a href="@Model.Trailer" target="_blank" class="btn-trailer">
                    <i id="play-icon" class="fa-solid fa-circle-play"></i>
                </a>
                @* @if (user != null)
                {
                    <a asp-controller="Peliculas" asp-action="AddFavorito"
                       asp-route-idfavorito="@Model.IdPelicula" class="bnt-milista">
                        <i id="plus-icon" class="fa-solid fa-circle-plus"></i>
                    </a>
                } *@
            </section>
        </div>
        <div class="img-pelicula">
            <img src="~/images/peliculas/@Model.Imagen" class="img-peli" alt="img_@Model.Imagen" />
        </div>
    </div>
</div>