@model List<Serie>

<div class="container">
    <div class="buscador">
        <form method="post" class="buscador-form">
            <input type="text" name="titulo" class="input-buscador"
                   placeholder="Busca una serie para obtener información..." />
            <button class="btn-buscar">
                <i id="lupa" class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>
    <h2>@ViewData["mensaje"]</h2>
    <div class="series-container">
        @if (Model != null)
        {
            @foreach (Serie serie in Model)
            {
                <div class="serie-card">
                    <img src="~/images/series/@serie.Imagen" alt="@serie.Titulo" class="serie-imagen">
                    <div class="serie-info">
                        <a asp-controller="Series" asp-action="DetailsSerie"
                           asp-route-idserie="@serie.IdSerie">
                            <h2 class="pelicula-titulo">@serie.Titulo ● @serie.AnioEstreno</h2>
                        </a>
                        <p class="serie-director">Director: @serie.Creador</p>
                    </div>
                </div>
            }
        }
        else
        {
            @foreach (Serie serie in Model)
            {
                <div class="serie-card">
                    <img src="~/images/series/@serie.Imagen" alt="@serie.Titulo" class="serie-imagen">
                    <div class="serie-info">
                        <a asp-controller="Series" asp-action="DetailsSerie"
                           asp-route-idserie="@serie.IdSerie">
                            <h2 class="pelicula-titulo">@serie.Titulo ● @serie.AnioEstreno</h2>
                        </a>
                        <p class="serie-director">Director: @serie.Creador</p>
                    </div>
                </div>
            }
        }
    </div>
</div>