@model ViewSerieCompleta

@{
    List<ActoresSerie> actoresSeries = ViewData["actoresSerie"] as List<ActoresSerie>;
}

<div class="container">
    <div class="details-serie">
        <div class="info-serie">
            <section class="serie-genero">
                <h3 class="genero">GÉNERO</h3>
                <p>@Model.Genero</p>
            </section>
            <section class="director-serie">
                <h3 class="creador">DIRECTOR</h3>
                <p>@Model.Creador</p>
            </section>
            <section class="stats">
                <h3><i id="stat-icon" class="fa-solid fa-chart-line"></i> STATS</h3>
                <p>IMDB: @Model.IMDB/10</p>
                <p>Popularidad: @Model.Popularidad/100</p>
            </section>
        </div>
        <div class="sinopsis-serie">
            <section class="titulo-serie">
                <h2 class="titulo">@Model.Titulo</h2>
                <h3 class="duracion-anio">@Model.AnioEstreno ● @Model.NumTemporadas temporadas</h3>
                <p class="sinopsis">@Model.Sinopsis</p>
            </section>
            <section class="trailer-serie">
                <a href="@Model.Trailer" target="_blank" class="btn-trailer">
                    <i id="play-icon" class="fa-solid fa-circle-play"></i>
                </a>
            </section>
        </div>
        <div class="img_serie">
            <img src="~/images/series/@Model.Imagen" class="img-serie" alt="img_@Model.Imagen" />
        </div>
    </div>
    @if(actoresSeries != null)
    {
        <div class="reparto-actores">
            @foreach (ActoresSerie ap in actoresSeries)
            {
                <div class="card-actor">
                    <section class="img-actor">
                        <img id="img-actor" src="~/images/actores/@ap.Imagen" alt="img_actor" />
                    </section>
                    <section class="info-actor">
                        <p class="nombre-actor"><b>@ap.NombreActor</b></p>
                        <p class="nombre-personaje">@ap.NombrePersonaje</p>
                    </section>
                </div>
            }
        </div>
    }
</div>