@model ResumenMiListaPeliculasSeries

<div class="container">
    <h1 class="text-center mt-3 milista-titulo">Mi Lista</h1>
    @if(Model.ViewAllPeliculas.Count() == 0 && Model.ViewAllSeries.Count() == 0)
    {
        <h4>No tienes nada guardado aún en "Mi Lista"</h4>
    }
    <div class="container-milista">
        @if (Model.ViewAllPeliculas != null)
        {
            @foreach (ViewAllPelicula peli in Model.ViewAllPeliculas)
            {
                <div class="card-milista">
                    <img src="~/images/peliculas/@peli.Imagen" alt="@peli.Titulo" class="imagen-milista">
                    <div class="info-milista">
                        <div class="d-flex justify-content-around align-items-center">
                            <a asp-controller="Peliculas" asp-action="DetailsPelicula"
                               asp-route-idpelicula="@peli.IdPelicula">
                                <h2 class="titulo-milista">@peli.Titulo ● @peli.AnioEstreno</h2>
                            </a>
                            <a asp-controller="Usuarios" asp-action="MiListaUsuario" asp-route-idpelicula="@peli.IdPelicula"
                               asp-route-ideliminarpelicula="@peli.IdFavorito" class="btn-delete-favorito">
                                <i id="trash-icon" class="fa-solid fa-trash-can"></i>
                            </a>
                        </div>
                        <p class="director-milista">Director: @peli.Director</p>
                    </div>
                </div>
            }
        }
        @if (Model.ViewAllSeries != null)
        {
            @foreach (ViewAllSerie serie in Model.ViewAllSeries)
            {
                <div class="card-milista">
                    <img src="~/images/series/@serie.Imagen" alt="@serie.Titulo" class="imagen-milista">
                    <div class="info-milista">
                        <div class="d-flex justify-content-evenly align-items-center">
                            <a asp-controller="Peliculas" asp-action="DetailsPelicula"
                               asp-route-idserie="@serie.IdSerie">
                                <h2 class="titulo-milista">@serie.Titulo ● @serie.AnioEstreno</h2>
                            </a>
                            <a asp-controller="Usuarios" asp-action="MiListaUsuario" asp-route-idserie="@serie.IdSerie"
                               asp-route-ideliminarserie="@serie.IdFavorito" class="btn-delete-favorito">
                                <i id="trash-icon" class="fa-solid fa-trash-can"></i>
                            </a>
                        </div>
                        <p class="director-milista">Director: @serie.Creador</p>
                    </div>
                </div>
            }
        }
    </div>
</div>