@model Usuario

@section scripts{
    <script>
        // Mostrar el modal al hacer clic en el botón "Editar Perfil"
        document.getElementById("editarPerfil").addEventListener("click", function () {
            document.getElementById("modalEditarPerfil").style.display = "block";
        });

        // Ocultar el modal al hacer clic en la "X" de cerrar
        document.getElementsByClassName("close")[0].addEventListener("click", function () {
            document.getElementById("modalEditarPerfil").style.display = "none";
        });

    </script>
}

<div class="container">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="profile-picture">
                <img src="~/images/perfil/img-perfil.png" alt="Profile Picture">
            </div>
            <h2 class="name">@Model.Nombre</h2>
            <h3 class="username">@Model.Email</h3>
            <p class="description">Tipo de usuario: @Model.Rol</p>
            <p class="description">Cumpleaños: @Model.FechaNac</p>
            <a asp-controller="Usuarios" asp-action="EditarPerfil" 
               asp-route-idusuario="@Model.IdUsuario" class="button">Editar Perfil</a>
        </div>
    </div>
</div>